github-copilot/
.DS_Store
spotify-player/
nvim/cheatsheets/
karabiner/automatic_backups
1Password/
BraveSoftware/
chromium/
dconf/
enchant/
environment.d
evolution/
google-chrome/
google-chrome-unstable/
google-chrome-beta/
gtk-3.0/
ibus/
microsoft-edge-dev/
pulse/
tiling-assistant/
vivaldi/
vivaldi-snapshot/
yelp/
GNOME*
gnome*
monitors*
ubuntu*
user-dirs*
xdg-terminals*
.gsd-keyboard.settings-ported
